django==1.6.2
Pillow
psycopg2
djangorestframework
django-bootstrap3
south
django-model-utils
django-multiselectfield
-e hg+https://bitbucket.org/dbinit/django-gmapi#egg=django-gmapi-new
-e git+https://github.com/yourlabs/django-autocomplete-light@v2#egg=autocomplete_light