django==1.6.2
Pillow
psycopg2
git+https://github.com/tomchristie/django-rest-framework.git@e45e0f056782cf6406a106add5c11803dcb24e30#egg=djangorestframework
django-bootstrap3==4.4.1
south
django-model-utils
django-multiselectfield
hg+https://bitbucket.org/dbinit/django-gmapi#egg=django-gmapi-new
django-autocomplete-light
django-extra-views
sorl-thumbnail
raven
requests
