{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block extrahead %}
<script type="text/javascript" src="http://creativecouple.github.com/jquery-timing/jquery-timing.min.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<link rel="stylesheet" href="/static/css/jqtree.css">

<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/backbone-forms.min.js"></script>
<script src="/static/js/editors/list.min.js"></script>

<!-- <script src="/static/js/templates/bootstrap3.js"></script> -->
<!-- <link href="/static/css/templates/bootstrap3.css" rel="stylesheet" /> -->
{% endblock %}
{% block content %}
<script>
var propertyExplorerForm;

function showNodeProperties(node_id)
{
	$.getJSON("{% url 'editor:get_node' %}", {id: node_id}, function(data){
		propertyExplorerForm = new Backbone.Form({
			schema: data.schema,
			data: data.data
		}).render();

		$('#propertyExplorerWidget').html(propertyExplorerForm.el);
		$('#propertyExplorerSubmit').show();

		$('#propertyExplorerWidget form select[name="type"]').change(function(event){
			$.ajax({
				type: "PUT",
				url: "{% url 'editor:get_node' custom_action='change_field_type' %}?id=" + $('#treeWidget').tree('getSelectedNode').id,
				dataType: 'json',
				data: JSON.stringify(propertyExplorerForm.getValue()),
				success: function(data){
					showNodeProperties(data.node_id);
				}
			});
		});
	});
}

function reloadTreeAndSelect(node_id)
{
	$('#treeWidget').tree('reload');
	setTimeout(function() {
		$('#treeWidget').tree('selectNode', $('#treeWidget').tree('getNodeById', node_id));
		showNodeProperties(node_id);
	}, 500);
}

$(document).ready(function(event) {
	$('#treeWidget').tree({
		dragAndDrop: true,
		onCanMoveTo: function(moved_node, target_node, position) {
			if (position == 'inside')
				return target_node.kind == moved_node.parent.kind;
			else
				return target_node.parent.kind == moved_node.parent.kind;
		},
		onCanMove: function(node) {
			return !(node.kind == 'container');
		}
	});
	
	$('#propertyExplorerSubmit').hide();
	$('button[data-node-type="condition"]').prop('disabled', true);

	$('button.updateNode').click(function(event){
		$.ajax({
			type: "PUT",
			url: "{% url 'editor:get_node' %}?id=" + $('#treeWidget').tree('getSelectedNode').id,
			dataType: 'json',
			data: JSON.stringify(propertyExplorerForm.getValue()),
			success: function(data){
				if (data.reload)
					reloadTreeAndSelect(data.node_id);
			}
		});
	});

	$('button.addNode').click(function(event){
		$.ajax({
			type: "POST",
			url: "{% url 'editor:get_node' %}?nodeType=" + $(this).attr('data-node-type') + '&id=' + $('#treeWidget').tree('getSelectedNode').id,
			success: function(data) {
				reloadTreeAndSelect(data.node_id);
			}
		});
	});

	$('button.deleteNode').click(function(event){
		$.ajax({
			type: "DELETE",
			url: "{% url 'editor:get_node' %}?id=" + $('#treeWidget').tree('getSelectedNode').id,
			success: function(data) {
				$('#treeWidget').tree('reload');
			}
		});
	});

 //    $('#propertyExplorerSubmit').slideDown(function() {
	//     setTimeout(function() {
	//         $('#propertyExplorerSubmit').slideUp();
	//     }, 5000);
	// });

	$('#treeWidget').bind(
		'tree.click',
		function(event) {
			showNodeProperties(event.node.id);
			if (event.node.kind == 'field')
				$('button[data-node-type="condition"]').prop('disabled', false);
			else
				$('button[data-node-type="condition"]').prop('disabled', true);
			// event.preventDefault();
		}
	);

	$('#treeWidget').bind(
		'tree.move',
		function(event) {
			$.ajax({
				type: "PUT",
				url: "{% url 'editor:get_tree' %}",
				dataType: 'json',
				data: JSON.stringify({
					moved_node: event.move_info.moved_node.id,
					previous_parent: event.move_info.previous_parent.id,
					target_node: event.move_info.target_node.id,
					position: event.move_info.position
				}),
				success: function(data) {
					// $('#treeWidget').tree('reload');
				}
			});
		}
	);

	$("[data-confirm]").click(function(event){
		return confirm($(this).data("confirm"));
	});
});
</script>
<div class="row">
	<div class="col-md-6">
		<div id="treeWidget" data-url="{% url 'editor:get_tree' %}"></div>
	</div>	
	<div class="col-md-6">
		<div id="propertyExplorerWidget"></div>
		<div id="propertyExplorerSubmit" class="form-actions">
			<button class='btn updateNode'><span class='glyphicon glyphicon-ok'></span> Update</button>
			<button class="btn btn-danger deleteNode"><span class='glyphicon glyphicon-cross'></span> Delete</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-actions">
		<div class="pull-left">
			<button class='btn addNode' data-node-type='form'><span class='glyphicon glyphicon-plus'></span> form</button>
			<button class='btn addNode' data-node-type='field'><span class='glyphicon glyphicon-plus'></span> field</button>
			<button class='btn addNode' data-node-type='inline'><span class='glyphicon glyphicon-plus'></span> inline</button>
			<button class='btn addNode' data-node-type='condition'><span class='glyphicon glyphicon-plus'></span> visible when</button>
		</div>
		<a href="{% url 'editor:overwrite_config' %}" class='btn btn-primary' data-confirm="Are you sure you want to apply the current changes to config.json?"><span class='glyphicon glyphicon-ok'></span> Overwrite config.json</a>
		<a href="{% url 'editor:reset_changes' %}" class="btn btn-danger" data-confirm="Are you sure you want discard all the current changes?">Reset changes</a>
	</div>
</div>
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="/admin/">Admin site</a></li><li>Config editor</li>
	</ol>
{% endblock %}