{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block extrahead %}
<script type="text/javascript" src="http://creativecouple.github.com/jquery-timing/jquery-timing.min.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<link rel="stylesheet" href="/static/css/jqtree.css">

<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/backbone-forms.min.js"></script>
<script src="/static/js/editors/list.min.js"></script>

<!-- <script src="/static/js/templates/bootstrap3.js"></script> -->
<!-- <link href="/static/css/templates/bootstrap3.css" rel="stylesheet" /> -->
{% endblock %}
{% block content %}
<script>
var propertyExplorerForm;

$(document).ready(function(event) {
	$('#treeWidget').tree();
	$('#propertyExplorerSubmit').hide();

    $('button.updateNode').click(function(event){
	    $.ajax({
	        type: "PUT",
	        url: "{% url 'editor:get_node' %}?id=" + $('#treeWidget').tree('getSelectedNode').id,
	        dataType: 'json',
	        data: JSON.stringify(propertyExplorerForm.getValue())
	    });
    });

    $('button.addNode').click(function(event){
	    $.ajax({
	        type: "POST",
	        url: "{% url 'editor:get_node' %}?nodeType=" + $(this).attr('data-node-type') + '&id=' + $('#treeWidget').tree('getSelectedNode').id,
			success: function(data) {
				$('#treeWidget').tree('reload');
				setTimeout(function() {
					$('#treeWidget').tree('selectNode', $('#treeWidget').tree('getNodeById', data.node_id));
				}, 500);
			}
	    });
    });

    $('button.deleteNode').click(function(event){
	    $.ajax({
	        type: "DELETE",
	        url: "{% url 'editor:get_node' %}?id=" + $('#treeWidget').tree('getSelectedNode').id,
			success: function(data) {
				$('#treeWidget').tree('reload');
			}
	    });
    });

 //    $('#propertyExplorerSubmit').slideDown(function() {
	//     setTimeout(function() {
	//         $('#propertyExplorerSubmit').slideUp();
	//     }, 5000);
	// });
	
	$('#treeWidget').bind(
	    'tree.click',
	    function(event) {
	        $.getJSON("{% url 'editor:get_node' %}", {id: event.node.id}, function(data){
	        	propertyExplorerForm = new Backbone.Form({
				    schema: data.schema,
				    data: data.data
				}).render();

	        	$('#propertyExplorerWidget').html(propertyExplorerForm.el);
	        	$('#propertyExplorerSubmit').show();
	    	});
	    	// event.preventDefault();
		}
	);
});
</script>
<div class="row">
	<div class="col-md-6">
		<div id="treeWidget" data-url="{% url 'editor:get_tree' %}"></div>
	</div>	
	<div class="col-md-6">
		<div id="propertyExplorerWidget"></div>
		<div id="propertyExplorerSubmit" class="form-actions">
			<button class='btn updateNode'><span class='glyphicon glyphicon-ok'></span> Update</button>
			<button class="btn btn-danger deleteNode"><span class='glyphicon glyphicon-cross'></span> Delete</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-actions">
		<div class="pull-left">
			<button class='btn addNode' data-node-type='form'><span class='glyphicon glyphicon-plus'></span> form</button>
			<button class='btn addNode' data-node-type='field'><span class='glyphicon glyphicon-plus'></span> field</button>
			<button class='btn addNode' data-node-type='inline'><span class='glyphicon glyphicon-plus'></span> inline</button>
		</div>
		{% bootstrap_button "Save to config.json" button_type='submit' icon='ok' %}
		<a href="{% url 'editor:reset_changes' %}" class="btn btn-danger">Reset changes</a>
	</div>
</div>
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="/admin/">Admin site</a></li><li>Config editor</li>
	</ol>
{% endblock %}