{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
{% bootstrap_css %} 
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Kandu</a>
		<ul class="nav navbar-nav">
			{% if request.user.is_anonymous %}
		        <li><a href="#">Not logged in.</a></li>
		        <li><a href="{% url 'django.contrib.auth.views.login' %}">Log in</a></li>
			{% else %}
		        <li><a href="#">Logged in as {{ request.user.username }}.</a></li>
		        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
			{% endif %}
	    </ul>
	</div>
 </nav>
<div class="container container-fluid">
{% if messages %}
<div class="row">
{% for message in messages %}
	<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% block content %}
{% endblock %}
</div>
<div class="footer navbar-fixed-bottom">
	<div class="container">
	<style type="text/css">
		img.logo { height: 70px }
	</style>
		<div class="row">
			<div class="col-md-1"><img class="logo" src="{{ logo.icon_file.url }}"></div>
			{% for partner_logo in partners_logos %}
				<div class="col-md-1"><img class="logo" src="{{ partner_logo.icon_file.url }}"></div>
			{% endfor %}
		</div>
	</div>
</div>
</html>