{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="page-header">
	<h1>Manage config</h1>
</div>
<div class="row">
	<form action="{% url 'web_config' %}" method="post" enctype="multipart/form-data" class="form">
	{% csrf_token %} {% bootstrap_form form %} 

	{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon 'upload' %} Upload config
		</button>
	{% endbuttons %}

	</form>
</div>
<div class="row">
	<a href="{% url 'web_config' operation='restart_server' %}"><button class="btn">Restart server</button></a>
	<a href="{% url 'web_config' operation='make_migration' %}"><button class="btn">{% bootstrap_icon 'refresh' %} Make and apply migration</button></a>
	<!-- <a href="{% url 'web_config' operation='migrate' %}"><button class="btn">Migrate</button></a> -->
</div>
{% endblock %}