{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% load jsonify %}
{% block content %}
<div class="row">
	<h1>Fill a form <small>{{ object.verbose_name }}</small></h1>
</div>
<div class="row">
	{% if form.instance.visibility_dependencies %}
	<script>
		var visibility_dependencies = {{ form.instance.visibility_dependencies|jsonify }};
	</script>
	{% endif %}
	<form action="{% url 'web_create' model_name=view.kwargs.model_name %}" method="post" enctype="multipart/form-data" class="form">
	{% csrf_token %} {% bootstrap_form form %} 

	{% buttons %}
		<button type="submit" class="btn btn-primary">
		{% bootstrap_icon 'ok' %} Submit
		</button>
	{% endbuttons %}

	</form>
</div>
{% endblock %}