{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% load jsonify %}
{% block content %}

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-6">
		<div class="jarviswidget">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>Correct form</h2>
			</header>
			<div>
				<div class="widget-body">
					{% if form.instance.visibility_dependencies %}
					<script>
						var visibility_dependencies = {{ form.instance.visibility_dependencies|jsonify }};
					</script>
					{% endif %}

					<form action="{% url 'web_update' model_name=object.model_name pk=object.pk %}" method="post" enctype="multipart/form-data" class="form-horizontal">
					{% csrf_token %} 

					<fieldset>
						<legend>{{ object.verbose_name }}</legend>
						{% bootstrap_form form label_class="col-md-3" field_class="col-md-9" %}
					</fieldset>

					<div class="form-actions">
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary">
								{% bootstrap_icon 'ok' %} Submit
								</button>
							</div>
						</div>
					</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li>Forms</li><li>{{ form.instance.verbose_name }}</li><li>Edit</li>
	</ol>
{% endblock %}