{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block content %}
<!-- <div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title">{{ object_list_model.verbose_name }}</h1>
	</div>
</div> -->

<div class="row">
	<div class="col-sm-12 col-md-8 col-lg-6">
		<table class="table table-striped table-bordered">
			<thead>
				<th>Data</th>
				<th>Type</th>
				<th></th>
			</thead>
			<tbody>
				{% for filled_form in object_list %}
				<tr>
					<td>
						{% if filled_form.is_editable %}
						<a href="{% url 'web_update' model_name=filled_form.model_name pk=filled_form.pk %}">
							{{ filled_form.label_fields_as_str }}
						</a>
						{% else %}
							{{ filled_form.label_fields_as_str }}
						{% endif %}
						<td>
							{{ filled_form.verbose_name }}
						</td>
					</td>
					<td>
<!-- 						<a href="{% url 'web_update' model_name=filled_form.model_name pk=filled_form.pk %}">
							<button type="button" class="btn btn-default btn-lg">
								{% bootstrap_icon 'pencil' %} Correct
							</button>
						</a> -->
						<a href="{% url 'web_delete' model_name=filled_form.model_name pk=filled_form.pk %}">
							<button type="button" class="btn btn-default btn-lg">
								{% bootstrap_icon 'remove' %} Delete
							</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-6">
		{% if object_list_model.allows_bulk_download %}
		<a href="{% url 'web_download_attached_files' model_name=object_list_model.model_name %}" class="btn btn-default">
			<i class="fa fa-edit"></i> Download all images from {{ object_list_model.verbose_name }}
		</a>
		{% elif object_list_model == None %}
		<a href="{% url 'web_download_attached_files' %}" class="btn btn-default">
			<i class="fa fa-edit"></i> Download all images
		</a>
		{% endif %}
	</div>
</div>
{% if is_paginated %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
	{% bootstrap_pagination page_obj %}
	</div>
</div>
{% endif %}
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="{% url 'web_list' %}">Forms</a></li> {% if object_list_model %}<li>{{ object_list_model.verbose_name }}</li>{% endif %}
	</ol>
{% endblock %}