{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% load custom_tags %}
{% block extrahead %}
<script src="/static/js/jquery.formset.min.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
   $(function() {
		{% for inline in inlines %}
		$('fieldset.form-inline .inline-tr').formset({
			prefix: '{{ inline.prefix }}',
			deleteCssClass: 'delete-row btn btn-danger',
			addCssClass: 'add-row btn btn-primary'
		});
		{% endfor %}
   })
</script>

<form action="{% url 'web_update' model_name=object.model_name pk=object.pk %}" method="post" enctype="multipart/form-data">
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-6">
		<div class="jarviswidget">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>Correct form</h2>
			</header>
			<div>
				<div class="widget-body">
					{% if form.instance.visibility_dependencies %}
						{% visibility_dependencies_js form.instance.visibility_dependencies %}
					{% endif %}

					{% if form.instance.location_field %}
					<script>
						$(document).ready(function(event){
							location_field = $('input[name="{{ form.instance.location_field }}"]');

							if (location_field.val() == '')
							{
								navigator.geolocation.getCurrentPosition(recordPosition);
								function recordPosition(position)
								{
									location_field.val('POINT ('+position.coords.longitude+' '+position.coords.latitude+')');
								}
							}
						})
					</script>
					{% endif %}

					{% csrf_token %}

					<fieldset class="form-horizontal">
						<legend>{{ object.verbose_name }}</legend>
						{% bootstrap_form form label_class="col-md-3" field_class="col-md-9" %}

					</fieldset>

					<div class="form-actions">
						<div class="row">
							<div class="col-md-6 text-left">
								<a href="{% url 'web_delete' model_name=object.model_name pk=object.pk %}" class="btn btn-danger">
									{% bootstrap_icon 'remove' %} Delete
								</a>
							</div>
							<div class="col-md-6">
								{% bootstrap_button "Submit" button_type='submit' icon='ok' %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<style>
.inline-tr { margin-bottom:20px }
.add-row { margin: 8px; }
</style>
{% for inline in inlines %}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="jarviswidget jarviswidget-color-darken">
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>{{ inline.0.instance.verbose_name }}</h2>
			</header>
			<div role="content">
					<fieldset class="form-inline">
				<div class="widget-body no-padding">
					<table class="table">
						<tr>
						{% for field in inline.0.visible_fields %}
							<th>
								{{ field.label }}
							</th>
						{% endfor %}
						</tr>

						{{ inline.management_form }}
						{% for inline_form in inline %}
							{% for field in inline_form.hidden_fields %}
								{{ field }}
							{% endfor %}
							<tr class="inline-tr">
							{% for field in inline_form.visible_fields %}
							<td>
								{% bootstrap_field field layout="inline" set_required=False %}
							</td>
							{% endfor %}
							</tr>
						{% endfor %}

					</table>
				</div>
					</fieldset>
			</div>
		</div>
	</div>
</div>
{% endfor %}
</form>
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li>Forms</li><li>{{ form.instance.verbose_name }}</li><li>Edit</li>
	</ol>
{% endblock %}