{% extends 'web/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
		<form action="{% url 'web_user_registration' %}" method="post" class="form">
		{% csrf_token %} {% bootstrap_form form %} 

		{% buttons %}
			<button type="submit" class="btn btn-primary">
			{% bootstrap_icon 'ok' %} Register
			</button>
		{% endbuttons %}

		</form>
	</div>
</div>
{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li>Registration</li>
	</ol>
{% endblock %}